$font-stack: 'Helvetica Neue', sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

section {
  &.intro {
    margin-left: $width-2;
    margin-right: $width-2;
  }

  &.list {
    margin-left: $width-2;
    margin-right: $width-2;
  }
}

h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400px;

  &.top {
    margin-bottom: 10px;
  }

  &.bottom {
    margin-bottom: 80px;
  }
}

img {
  width: 200px;
}

.title {
  font-size: 50px;
  line-height: 52px;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 40px;
}

.divider {
  border: 1px solid #ccc;
  width: 100%;
  margin: 0 auto;
}

.avocado-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.avocado-number {
  font-size: 32px;
  line-height: 35px;
  font-weight: 600;
}

.avocado-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}

// lightbox css

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( 0,0,0, 0.7 );
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
  }
  span {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: rgba( 255,255,255, 0.7 );
  }
}

// mobile-view css

@media (max-width: 450px) {
  section {
    &.intro {
      margin-left: $width-1;
      margin-right: $width-1;
    }

    &.list {
      margin-left: $width-1;
      margin-right: $width-1;
    }
  }

  p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600px;

    &.top {
      margin-bottom: 10px;
    }

    &.bottom {
      margin-bottom: 80px;
    }
  }

  img {
    display: block;
    margin: auto;
  }

  .title {
    font-size: 40px;
    line-height: 42px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .divider {
    display: none;
  }

  .avocado-item {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 40px;
  }

  .avocado-number {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    margin: 0 15px;
  }

  .avocado-title {
    font-size: 19px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
